// COLORS


:root {
    --primary: #eb2f64;
    --primary-light: #FF3366;
    --primary-dark: #BA265D;

    --grey-light-1: #faf9f9;
    --grey-light-2: #f4f2f2;
    --grey-light-3: #f0eeee;
    --grey-light-4: #ccc;

    --grey-dark-1: #333;
    --grey-dark-2: #777;
    --grey-dark-3: #999;

    --white: white;


    // BOX SHADOW
    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
    --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.6); // BORDER 
    --line: 1px solid var(--grey-light-2);
}

// Media Queries 
$bp-largest: 75rem; // 1200px
$bp-large: 68.75rem; // 1100px